
.contenedor{
	font-family: arial;
	background: black;
	width: 900px;
	height: 1000px;
	margin: auto;

}
header{	width:900px;
		height:50px;
		background-color:black;
	}


.logo{	float:left;
		width:200px;
		height:40px;
		margin-top:2px;
		margin-left:10px;
		background: orange;
		}

.menu_general ul{
	width:520px;
	height:50px;
	background-color:black;
	margin-left:auto;
}

.menu_principal ul li a{	
		display:inline-block;
		margin-right:10px;
		font-size:13px;
		color:white;
		margin-top:17px;
		float:left;
		text-decoration:none;
}
ul{	list-style:none;}
section{
		display:inline-block;
		background-color:black;
		height:700px;
		width:900px;
		padding-bottom:10px;
}

.cuerpo{
	background: orange;
	width: 900px;
	height: 700px;
}

.cuerpo1{
	background: brown;
	width: 700px;
	height: 700px;
	float: left;
}
	.banner1, .banner2{
	background: purple;
	width: 680px;
	height: 320px;
	float: left;
	margin-left: 10px;
	border-radius:10px;
	margin-top: 20px;	

	}
	
.cuerpo2{
	background: green;
	width: 200px;
	height: 700px;
	float: left;
}
.seccion1, .seccion2, .seccion3, .seccion4{
		background-color:brown;
		width:170px;
		height:150px;
		margin-left:10px;
		float:left;
		border-radius:10px;
		margin-top: 20px;
		box-shadow: 3px 3px #999;	
}
	.img1, .img2, .img3, .img4{
		background-color:blue;
		width:170px;
		height:120px;
		border-radius:10px 10px 0px 0px;
	} 
	.img1 img, .img2 img, .img3 img, .img4 img
	{border-radius:10px 10px 0px 0px;
	}

/* Inicio del codigo para el
Texto de todas las imagenes del bloque 
derecho del SECTION*/
.link{background: purple;
	width: 170px;
	height: 30px;
	float: left;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
}
.link a{font-size:18px;
		color:white;
		margin-left:8px;
		text-decoration:none;
	}
.link a:hover{font-size:22px;
			color:yellow;
			margin-left:8px;
			text-decoration:none;
	}
/* Final*/


.pie{
	background: yellow;
}
.facebook{
	background: blue;
	width: 100px;
	height: 30px;
	float: left;
}
.twitter{
	background: pink;
	width: 100px;
	height: 30px;
	float: left;
}
.menu_pie ul li a{
	display: inline-block;
	width: auto;
	height: 30px;
	background: purple;
	float: left;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color: pink;
	padding-left: 20px;
	padding-right: 15px;

}
